<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Varela&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 20%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;

}

input[type=number]{
  width: 20%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label, p{
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-family: 'Varela', sans-serif;
}
h2, h1{
   font-family: 'Varela', sans-serif;
}
input[type=submit] {
  background-color: #3DA4E7;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.innercontainer1 {
  border-radius: 5px;
  background-color: #FFDAFD ;
  padding: 50px;
}

.outercontainer {
  border-radius: 5px;
  background-color: #CEF7FE  ;
  padding: 100px;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
table#table1 {
  width: 100%;
  background-color: #FFDAFD;
  font-family: 'Varela', sans-serif;
}
</style>
</head>
<body>
<div class="outercontainer">
    <br>
    <br>
    <div class="innercontainer1">
        <h2>Stock Information</h2>
          <table id="table1">
             {% for key, value in query_response.items() %}
                <tr>
                   <th> {{ key }} </th>
                   <td> {{ value }} </td>
                </tr>
             {% endfor %}
          </table>
    </div>
</div>
</body>
</html>